h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
.main1 {
    text-align: center;
}
body{
    background: rgb(209, 209, 209);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cs2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
.box1{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.box2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 35%;
    left: 20%;
    width: 500px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.box3{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.boxmain
{
    margin:0 auto;
    padding: 2em;
    width: 500px;
    background-image: url("graybg.jpeg");
    background-color: #cccccc;
    border-radius: 20px;
    position: relative;
}
.boxmain3
{
    margin:0 auto;
    padding: 2em;
    width: 500px;
    left: 10%;
    background-image: url("graybg.jpeg");
    background-color: #cccccc;
    border-radius: 20px;
    position: relative;
    float: left;
    width: 80%;
}
.boxmain3::after ,.boxmain3::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),gray 30%,rgb(68, 0, 255),red,rgb(255, 217, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;


}
.boxmain3::before{
    filter: blur(1.5rem);
    opacity: 0.8;

}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle : 360deg;
    }
}
.mainbar{
    float: left;
    width: 70%;

    }
.sidebar{
    float: right;
    width: 70%;
    }
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.boxmain::after ,.boxmain::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 50%,orange);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;


}
.boxmain::before{
    filter: blur(1.5rem);
    opacity: 0.8;

}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle : 360deg;
    }
}
.boxmain2{
    margin:0 auto;
    padding: 1em;
    border-radius: 20px;
    position: relative;
}
@property --angle2{
    syntax: "<angle>";
    initial-value: 50deg;
    inherits: false;
}
.boxmain2::after ,.boxmain2::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle2),gray,orange);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.5px;
    border-radius: 20px;
    animation: 2s spin2 linear infinite;
}
.boxmain2::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin2{
    from{
        --angle2: 0deg;
    }
    to{
        --angle2 : 360deg;
    }

}
